{% extends 'base.html' %}

{% block head %}
    <title>Page not found</title>
{% endblock %}


{% block main %}
    <main role="main" class="container">
        <h1>Oops, something wrong with the server...</h1>
        <p class="lead">You have entered a forbidden zone and please go back to where you are, or you may not
            get the flight information you want.</p>
        <p>Roll back:
            <button type="button" class="btn btn-outline-secondary btn-sm" onclick="goback()">Click me</button>
            :)
        </p>

    </main>

    <script>
    function goback() {
        window.history.back();
    }
    </script>
{% endblock %}