{% extends 'base.html' %}

{% block head %}
    <style>
        div.background {
            height: 927px;
            background-image: url("/static/3.jpg");
            background-repeat: no-repeat;
            opacity: 0.7;
            background-size: 100% 100%;
        }
    </style>
{% endblock %}


{% block header %}
    <div class="navigation container" id="top" style="padding-top: 0px">
    <span class="border-bottom">
        <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg" style="margin-bottom: 5px;">
        <a class="navbar-brand"><img src="/static/logo.png" height="35%" width="35%" alt="Air Company"
                                     style="width: 225px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto" style="font-size: 18px">

                <li class="nav-item" style="width: 80px;">
                    <a class="nav-link" href="#flights">Flights</a>
                </li>

                <li class="nav-item dropdown" style="width: 240px" ;>
                        <a class="nav-link dropdown-toggle" href="" id="dropdownMenuButton" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Tools for booking agent</a>
                        <div id="drop_item" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"
                               style="background-color: #f5f5f5;  padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;">
                                <button type="button" class="btn btn-light btn-block" data-toggle="modal"
                                        data-target="#myCommission">View my commission</button></a>


                            <a class="dropdown-item"
                               style="background-color: #f5f5f5;  padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;">
                                <button type="button" class="btn btn-light btn-block" data-toggle="modal"
                                        data-target="#viewtop">View top</button></a>
                        </div>
                </li>
            </ul>



            <form class="form-inline mt-2 mt-md-0">
                <div class="btn-group btn-group-md" role="group">
                    <button id="login_button" type="button" class="btn btn-outline-secondary" data-toggle="modal"
                            data-target="#myflight"
                            onclick="">My flights</button>
                    <button id="login_button" type="button" class="btn btn-outline-secondary"
                            onclick="sign_out()">Log out</button>
                </div>
            </form>
        </div>
    </nav>
    </span>
    </div>
{% endblock %}


{% block main %}
    {% if username %}
        <div class="container alert alert-success alert-dismissible" role="success"
             style="padding-top: 5px; padding-bottom: 5px">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    style="padding-top: 3px; padding-bottom: 0px;"><span
                    aria-hidden="true">&times;</span></button>
            Welcome to Derek and Masaki's air company, {{ username }} !
        </div>
    {% endif %}
    <div class="background">
        <div style="padding-top: 382px;">
            <div class="container" id="searchforflight" style="padding-top: 24px;">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="source_city"
                                   placeholder="Source city"
                                   aria-label="Search term"
                                   aria-describedby="basic-addon">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="source_airport"
                                   placeholder="Source airport name"
                                   aria-label="Search term"
                                   aria-describedby="basic-addon">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="destination_city"
                                   placeholder="Destination city"
                                   aria-label="Search term"
                                   aria-describedby="basic-addon">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="destination_airport"
                                   placeholder="Destination airport name"
                                   aria-label="Search term"
                                   aria-describedby="basic-addon">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="search_date"
                                   placeholder="YY/MM/DD"
                                   aria-label="Search term"
                                   aria-describedby="basic-addon">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="input-group mb-3">
                            <button class="btn btn-light btn-block" type="submit" style="font-size: 18px"><strong>Search!</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container flight-content" id="flights" style="padding-top: 42px;">
        <div id="result">
            <ul class="fligtdetails list-group list-group-flush">
                {% for flight in flights %}
                    {% if flight %}
                        <li tabindex="0" class="search-result">
                            <div class="row">
                                <div class="col-md-10 col-lg-10 col-sm-10" id="col-left">
                                    <div class="row">
                                        <div class="col col-md-4 col-lg-4 col-sm-4">
                                            {{ flight['airline_name'] }} &nbsp; &nbsp;
                                            &nbsp; {{ flight['flight_num'] }}
                                        </div>
                                        <div class="col col-md-4 col-lg-4 col-sm-4">
                                            <strong>{{ flight['status'] }}</strong>
                                        </div>
                                        <div class="col col-md-4 col-lg-4 col-sm-4">
                                            {{ flight['airplane_id'] }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-4 col-lg-4 col-sm-4">
                                            {{ flight['departure_airport'] }} &nbsp;
                                            &nbsp; {{ flight['departure_time'] }}
                                        </div>
                                        <div class="col col-md-4 col-lg-4 col-sm-4 text-center">
                                            <img src="http://hk.ceair.com/public/system/assets/images/nonstop.svg"
                                                 style="width: 180px; height: 30px;">
                                        </div>
                                        <div class="col col-md-4 col-lg-4 col-sm-4">
                                            {{ flight['arrival_airport'] }} &nbsp;
                                            &nbsp; {{ flight['arrival_time'] }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2" id="col-right">
                                    <div class="row">
                                        {{ flight['price'] }}
                                    </div>
                                    <div class="row">
                                        <button name="book" type="button" class="btn btn-outline-warning btn-sm"
                                                value="purchase">Book now
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="modal hide fade" id="myflight" tabindex="0" role="dialog" aria-labelledby="myModal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My flights</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="container flight-content" id="flights" style="padding-top: 42px;">
                            <div id="result">
                                <ul class="fligtdetails list-group list-group-flush">
                                    {% if msg %}
                                        <div class="container alert alert-warning alert-dismissible" role="warning"
                                             style="padding-top: 5px; padding-bottom: 5px">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                                    style="padding-top: 3px; padding-bottom: 0px;"><span
                                                    aria-hidden="true">&times;</span></button>
                                            {{ msg }}
                                        </div>
                                    {% endif %}

                                    {% for data in Data %}
                                        {% if data %}
                                            <li tabindex="0" class="search-result">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12 col-sm-12" id="col-left">
                                                        <div class="row">
                                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                                {{ data['airline_name'] }} &nbsp; &nbsp;
                                                                &nbsp; {{ data['flight_num'] }}
                                                            </div>
                                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                                <strong>{{ data['status'] }}</strong>
                                                            </div>
                                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                                {{ data['airplane_id'] }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                                {{ data['departure_airport'] }} &nbsp;
                                                                &nbsp; {{ data['departure_time'] }}
                                                            </div>
                                                            <div class="col col-md-4 col-lg-4 col-sm-4 text-center">
                                                                <img src="http://hk.ceair.com/public/system/assets/images/nonstop.svg"
                                                                     style="width: 180px; height: 30px;">
                                                            </div>
                                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                                {{ data['arrival_airport'] }} &nbsp;
                                                                &nbsp; {{ data['arrival_time'] }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>

    <div class="modal hide fade" id="myCommission" tabindex="0" role="dialog" aria-labelledby="myModal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My commission</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container flight-content" id="commission" style="padding-top: 42px;">
                        <div id="result">
                            <ul class="fligtdetails list-group list-group-flush">
                                {% if commission and ticket and average %}
                                    <li tabindex="0" class="search-result">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12" id="col-left">
                                                <span>Commissions in the last 30 days: {{ commission }}</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li tabindex="0" class="search-result">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12" id="col-left">
                                                <span>Total number of tickets that sold: {{ ticket }}</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li tabindex="0" class="search-result">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12" id="col-left">
                                                <span>Average commission received per ticket: {{ average }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="container" id="search_with_date">
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-lg-5">
                                    <div class="input-group mb-3">
                                        <input type="text" onfocus="(this.type='date')" class="form-control"
                                               id="from_date"
                                               placeholder="Starting date"
                                               aria-label="Search term"
                                               aria-describedby="basic-addon">
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col-lg-5">
                                    <div class="input-group mb-3">
                                        <input type="text" onfocus="(this.type='date')" class="form-control"
                                               id="to_date"
                                               placeholder="Ending date"
                                               aria-label="Search term"
                                               aria-describedby="basic-addon">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <button class="btn btn-outline-warning btn-md" type="submit"><strong>Search</strong>
                                    </button>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div id="result">
                            <ul class="fligtdetails list-group list-group-flush">
                                {% if commission1 and ticket1 and average1 %}
                                    <li tabindex="0" class="search-result">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12" id="col-left">
                                                <span>Commissions in the last 30 days: {{ commission1 }}</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li tabindex="0" class="search-result">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12" id="col-left">
                                                <span>Total number of tickets that sold: {{ ticket1 }}</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li tabindex="0" class="search-result">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12" id="col-left">
                                                <span>Average commission received per ticket: {{ average1 }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal hide fade" id="viewtop" tabindex="0" role="dialog" aria-labelledby="myModal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View top customers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <canvas id="customer_ticket"></canvas>
                    <canvas id="customer_commission"></canvas>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        function sign_out() {
            window.location.assign("/logout/");
        }

        let customers_tickets = document.getElementById('customer_ticket').getContext('2d');
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';
        let mychart1 = new Chart(customers_tickets, {
            type: 'bar',
            data: {
                labels: [{% for label in labels %}
                    "{{label}}",
                {% endfor %}],
                datasets: [{
                    labels: [{% for label in labels %}
                        "{{label}}",
                    {% endfor %}],
                    data: [{% for value in values %}
                        {{value}},
                    {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 2,
                    hoverBorderColor: '#000'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Top 5 customers based on number of tickets in the past 6 months',
                    fontSize: 25
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                }
            }
        });

        let customer_commission = document.getElementById('customer_commission').getContext('2d');
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';
        let mychart2 = new Chart(customer_commission, {
            type: 'bar',
            data: {
                labels: [{% for label in labels1 %}
                    "{{label}}",
                {% endfor %}],
                datasets: [{
                    label: [{% for label in labels1 %}
                        "{{label1}}",
                    {% endfor %}],
                    data: [{% for value in values1 %}
                        {{value}},
                    {% endfor %}],
                    backgroundColor: [
                        'rgba(0, 255, 255, 0.6)',
                        'rgba(255, 20, 47, 0.6)',
                        'rgba(178, 34, 34, 0.6)',
                        'rgba(255, 215, 0, 0.6)',
                        'rgba(124, 252, 0, 0.6)',
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 2,
                    hoverBorderColor: '#000'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Top 5 customers based on amount of commission in the last year',
                    fontSize: 25
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                }
            }
        });
    </script>
{% endblock %}