{% extends 'base.html' %}

{% block head %}
    <style>
        div.background {
            height: 927px;
            background-image: url("/static/2.jpg");
            background-repeat: no-repeat;
            opacity: 0.7;
            background-size: 100% 100%;
        }

        div.modal-lg {
            width: 1200px !important;
            height: auto !important;
        }
    </style>
{% endblock %}


{% block header %}
    <div class="navigation container" id="top" style="padding-top: 0px">
    <span class="border-bottom">
        <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg" style="margin-bottom: 5px;">
        <a class="navbar-brand"><img src="/static/logo.png" height="35%" width="35%" alt="Air Company"
                                     style="width: 225px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto" style="font-size: 18px">
                <li class="nav-item" style="width: 80px;">
                    <a class="nav-link" href="#flights">Flights</a>
                </li>

                <li class="nav-item dropdown" style="width: 240px" ;>
                        <a class="nav-link dropdown-toggle" href="" id="dropdownMenuButton" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Tools for customer</a>
                        <div id="drop_item" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"
                               style="background-color: #f5f5f5; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;">
                                <button type="button" class="btn btn-light btn-block" data-toggle="modal"
                                        data-target="#myspending">Tracking my spending</button>
                            </a>
                        </div>
                </li>
            </ul>


            <form class="form-inline mt-2 mt-md-0">
                <div class="btn-group btn-group-md" role="group">
                    <button id="login_button" type="button" class="btn btn-outline-secondary" data-toggle="modal"
                            data-target="#myflight"
                            onclick="">My flights</button>
                    <button id="login_button" type="button" class="btn btn-outline-secondary"
                            onclick="sign_out()">Log out</button>
                </div>
            </form>
        </div>
    </nav>
    </span>
    </div>
{% endblock %}


{% block main %}
    {% if username %}
        <div class="container alert alert-success alert-dismissible" role="success"
             style="padding-top: 5px; padding-bottom: 5px">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    style="padding-top: 3px; padding-bottom: 0px; height: 26px"><span
                    aria-hidden="true">&times;</span></button>
            Welcome to Derek and Masaki's air company, {{ username }} !
        </div>
    {% endif %}
    <div class="background">
        <div style="padding-top: 382px;">
            <form method="POST" action="">
                <div class="container" id="searchforflight" style="padding-top: 24px;">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="source_city"
                                       placeholder="Source city"
                                       aria-label="Search term"
                                       aria-describedby="basic-addon" value="{{ request.form.source }}">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="destination_city"
                                       placeholder="Destination city"
                                       aria-label="Search term"
                                       aria-describedby="basic-addon" value="{{ request.form.destination }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="input-group mb-3">
                                <input type="text" onfocus="(this.type='date')" class="form-control" name="city_date"
                                       placeholder="YY/MM/DD"
                                       aria-label="Search term"
                                       aria-describedby="basic-addon" value="{{ request.form.city_date }}">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="input-group mb-3">
                                <button class="btn btn-light btn-block" type="submit" style="font-size: 18px"
                                        onclick="">
                                    <strong>Search!</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="searchforflight" style="padding-top: 24px;">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="source_airport"
                                       placeholder="Source airport"
                                       aria-label="Search term"
                                       aria-describedby="basic-addon" value="{{ request.form.source_airport }}">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="destination_airport"
                                       placeholder="Destination airport"
                                       aria-label="Search term"
                                       aria-describedby="basic-addon" value="{{ request.form.destination_airport }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="input-group mb-3">
                                <input type="text" onfocus="(this.type='date')" class="form-control" name="airport_date"
                                       placeholder="YY/MM/DD"
                                       aria-label="Search term"
                                       aria-describedby="basic-addon" value="{{ request.form.airport_date }}">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                            <div class="input-group mb-3">
                                <button class="btn btn-light btn-block" type="submit" style="font-size: 18px"
                                        onclick="">
                                    <strong>Search!</strong>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        {% if spend_range1 and spend_range2 %}
            <h1 style="font-size: 18px;">Total amount of money spent in the range:</h1>
            <span>{{ spend_range1[0]['dey'] }}</span>
            <canvas id="mySpending1"></canvas>
        {% endif %}

    </div>
    <div class="container flight-content" id="flights" style="padding-top: 42px;">
        <div id="result">
            <div>
                <ul class="fligtdetails list-group list-group-flush">
                    {% if flights %}
                        {% for flight in flights %}
                            <li tabindex="0" class="search-result">
                                <div class="row">
                                    <div class="col-md-10 col-lg-10 col-sm-10" id="col-left">
                                        <div class="row">
                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                <font style="font-size: 20px"><strong>{{ flight['airline_name'] }}</strong></font>
                                                &nbsp; &nbsp;
                                                {{ flight['flight_num'] }}
                                            </div>
                                            <div class="col col-md-4 col-lg-4 col-sm-4 text-center">
                                                <strong>{{ flight['status'] }}</strong>
                                            </div>
                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                Airplane id: {{ flight['airplane_id'] }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                {{ flight['departure_airport'] }} &nbsp;
                                                &nbsp; {{ flight['departure_time'] }}
                                            </div>
                                            <div class="col col-md-4 col-lg-4 col-sm-4 text-center">
                                                <img src="http://hk.ceair.com/public/system/assets/images/nonstop.svg"
                                                     style="width: 180px; height: 30px;">
                                            </div>
                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                {{ flight['arrival_airport'] }} &nbsp;
                                                &nbsp; {{ flight['arrival_time'] }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-sm-2" id="col-right">
                                        <div class="row">
                                            Price: {{ flight['price'] }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <br>
    <form method="post">
        <div class="container">
            <h1 class="text-center" style="font-size: 18">
                You can enter the airline name and flight number to purchase a ticket!
            </h1>
            <br>
            <div class="row">
                <div class="col col-md-5 col-sm-5 col-lg-5">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"
                               name="purchase_airline"
                               placeholder="Airline of the ticket"
                               aria-label="Search term"
                               aria-describedby="basic-addon" value="{{ request.form.purchase_airline }}">
                    </div>
                </div>
                <div class="col col-md-5 col-sm-5 col-lg-5">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"
                               name="purchase_flight"
                               placeholder="Flight number of the ticket"
                               aria-label="Search term"
                               aria-describedby="basic-addon" value="{{ request.form.purchase_flight }}">
                    </div>
                </div>
                <div class="col col-md-2 col-sm-2 col-lg-2">
                    <button class="btn btn-warning btn-block" type="submit" style="font-size: 18px"
                            onclick="">
                        <strong>Book now</strong>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="modal hide fade" id="myflight" tabindex="0" role="dialog" aria-labelledby="myModal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My flights</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="container flight-content" id="flights" style="padding-top: 42px;">
                            <div id="result">
                                <ul class="fligtdetails list-group list-group-flush">
                                    {% if Data %}
                                        {% for data in Data %}
                                            <li tabindex="0" class="search-result">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12 col-sm-12" id="col-left">
                                                        <div class="row">
                                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                                <font style="font-size: 20px"><strong>{{ data['airline_name'] }}</strong></font>
                                                                &nbsp; &nbsp;
                                                                {{ data['flight_num'] }}
                                                            </div>
                                                            <div class="col col-md-4 col-lg-4 col-sm-4 text-center">
                                                                <strong>{{ data['status'] }}</strong>
                                                            </div>
                                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                                Airplane id: {{ data['airplane_id'] }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                                {{ data['departure_airport'] }} &nbsp;
                                                                &nbsp; {{ data['departure_time'] }}
                                                            </div>
                                                            <div class="col col-md-4 col-lg-4 col-sm-4 text-center">
                                                                <img src="http://hk.ceair.com/public/system/assets/images/nonstop.svg"
                                                                     style="width: 180px; height: 30px;">
                                                            </div>
                                                            <div class="col col-md-4 col-lg-4 col-sm-4">
                                                                {{ data['arrival_airport'] }} &nbsp;
                                                                &nbsp; {{ data['arrival_time'] }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endif %}


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myspending" tabindex="-1" role="dialog" aria-labelledby="myspending"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Track my spending</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <span>
                            <h1 style="font-size: 18px;">Total amount of money spent in the past year:</h1>
                            <span>{{ one_year[0]['dey'] }}</span>
                        </span>
                        <br>
                        <canvas id="mySpending"></canvas>
                        <br>
                        <p align="center"><strong><font face="Lato" style="color: #777; font-size: 22px">Check your
                            spending within a period of time:</font></strong></p>
                        <div class="container" id="search_with_date">
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-lg-5">
                                    <div class="input-group mb-3">
                                        <input type="text" onfocus="(this.type='date')" class="form-control"
                                               name="from_date"
                                               placeholder="Starting date"
                                               aria-label="Search term"
                                               aria-describedby="basic-addon">
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col-lg-5">
                                    <div class="input-group mb-3">
                                        <input type="text" onfocus="(this.type='date')" class="form-control"
                                               name="to_date"
                                               placeholder="Ending date"
                                               aria-label="Search term"
                                               aria-describedby="basic-addon">
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <button class="btn btn-outline-warning btn-md" type="submit"><strong>Search</strong>
                                    </button>
                                </div>
                                <br>
                                {% if spend_range1 and spend_range2 %}
                                    <h1 style="font-size: 18px;">Total amount of money spent in the range:</h1>
                                    <span>{{ spend_range1[0]['dey'] }}</span>
                                    <canvas id="mySpending1"></canvas>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function sign_out() {
            window.location.assign("/logout/");
        }

        let spending = document.getElementById('mySpending').getContext('2d');
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';
        let mychart = new Chart(spending, {
            type: 'bar',
            data: {
                labels: [{% for item in six_months %}
                    "{{item['m']}}",
                {% endfor %}],
                datasets: [{
                    labels: [{% for item in six_months %}
                        "{{item['m']}}",
                    {% endfor %}],
                    data: [{% for item in six_months %}
                        {{item['total']}},
                    {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 2,
                    hoverBorderColor: '#000'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'My spending in last 6 months',
                    fontSize: 25
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                }
            }
        });

        let spending1 = document.getElementById('mySpending1').getContext('2d');
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';
        let mychart1 = new Chart(spending1, {
            type: 'bar',
            data: {
                labels: [{% for item in spend_range2 %}
                    "{{item['m']}}",
                {% endfor %}],
                datasets: [{
                    label: [{% for item in spend_range2 %}
                        "{{item['m']}}",
                    {% endfor %}],
                    data: [{% for item in spend_range2 %}
                        {{item['total']}},
                    {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                        'rgba(0, 255, 255, 0.6)',
                        'rgba(255, 20, 47, 0.6)',
                        'rgba(178, 34, 34, 0.6)',
                        'rgba(255, 215, 0, 0.6)',
                        'rgba(124, 252, 0, 0.6)',
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 2,
                    hoverBorderColor: '#000'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'My spending in the range',
                    fontSize: 25
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                }
            }
        });
    </script>


{% endblock %}
