<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}" type="text/css">
    <style>
        input[type='text'],
        input[type='number'],
        input[type='password'],
        textarea {
            outline: none;
            box-shadow: none !important;
            border: 1px solid #ccc !important;
        }
    </style>
    <title>Register</title>
</head>

<body style="height: 600px; padding-top: 200px;" data-gr-c-s-loaded="true">
<main id="main" class="site-main main">
    <div class="row justify-content-center">
        <form class="form" method="post">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="form-row">
                <div class="form-group col-md-12">
                    <center>
                        <h1 class="h3 mb-3 font-weight-normal" style="font-size: 300%">Sign in</h1>
                    </center>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio" id="registerer1" value="option">
                        <label class="form-check-label" for="log_type">Customer</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio" id="registerer2" value="option">
                        <label class="form-check-label" for="log_type">Booking agent</label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radio" id="registerer3" value="option">
                        <label class="form-check-label" for="log_type">Airline Staff</label>
                    </div>
                </div>
            </div>
            <br>

            <button class="btn btn-lg btn-secondary btn-block" type="submit" value="Register" onclick="login_suc()">
                Login
            </button>
            <br>
            <center>
                <div>Don't have an account? <a href="../register/">Register here.</a></div>
                <br>
                <span class="text-muted">All rights reserved to Derek & Masaki's Air Company © 2018</span>
            </center>
        </form>
    </div>
</main>

<script>
    function login_suc() {
        var customer_reg = document.getElementById("registerer1");
        var agent_reg = document.getElementById("registerer2");
        var staff_reg = document.getElementById("registerer3");

        if (customer_reg.checked == true) {
            document.write('');
            window.location.assign("/login-customer/");
        }


        if (agent_reg.checked == true) {
            document.write('');
            window.location.assign("/login-agent/");
        }


        if (staff_reg.checked == true) {
            document.write('');
            window.location.assign("/login-staff/");
        }
    }

</script>
</body>

</html>