<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}" type="text/css">
    <style>
        input[type='text'],
        input[type='number'],
        input[type='password'],
        input[type='date'],
        input[type='email'],
        textarea {
            outline: none;
            box-shadow: none !important;
            border: 1px solid #ccc !important;
        }
    </style>
    <title>Customer sign in</title>
</head>

<body style="height: 600px; padding-top: 42px;" data-gr-c-s-loaded="true">
<main id="main" class="site-main main">
    <div class="row justify-content-center">
        <form action="" class="form" method="post">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <br>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <center>
                        <h1 class="h3 mb-3 font-weight-normal" style="font-size: 300%">Please sign in</h1>
                    </center>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="form-group">
                        <label for="inputEmail" style="align-content: left">Email</label>
                        <input size="20"
                               style="padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;"
                               type="email" id="inputEmail" name="email" class="form-control"
                               value="{{ request.form.email }}" required="">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input size="20"
                               style="padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;"
                               type="password" id="inputPassword" name="password" class="form-control"
                               value="{{ request.form.password }}" required="">
                    </div>
                </div>
            </div>

            <button class="btn btn-lg btn-secondary btn-block" type="submit" value="Login">Sign in</button>
            <br>
            <center>
                <div>No account? <a href="../register-customer/">Register here.</a></div>
                <br>
                <span class="text-muted">All rights reserved to Derek & Masaki's Air Company © 2018</span>
            </center>
        </form>
    </div>
</main>
</body>


</html>